apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  labels:
    app.kubernetes.io/name: deluge
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/component: server
  name: deluge
  namespace: seedbox
spec:
  tls:
    - hosts:
      - "*.your-domain-name.com"
      secretName: your-domain-name-com-cert
  rules:
  - host: deluge.your-domain-name.com
    http:
      paths:
      - backend:
          serviceName: deluge
          servicePort: 8112
status:
  loadBalancer: {}
