version: '2.7'
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ="Europe/Paris"
      - PLEX_CLAIM="claim-zUG7TW-G6DAx-ya5yxKx"
    volumes:
      - /mnt/seedbox-config/plex:/config
      - /mnt/seedbox-data/:/data:ro
      - ./volumes/transcode:/transcode
    networks:
      plex_vlan:
        ipv4_address: 192.168.10.42
    devices:
      - /dev/dri:/dev/dri
    restart: always

  unifi-controller:
    image: ghcr.io/linuxserver/unifi-controller
    container_name: unifi-controller
    environment:
      - PUID=1000
      - PGID=1000
      - MEM_LIMIT=1024M #optional
    volumes:
      - ./volumes/unifi:/config
    networks:
      lan_vlan:
        ipv4_address: 192.168.0.42
    restart: always

  foldingathome:
    image: ghcr.io/linuxserver/foldingathome
    cpus: 8
    cpus: 0.5
    container_name: foldingathome
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - ./volumes/folding@home:/config
    networks:
      folding_at_home_vlan:
        ipv4_address: 192.168.20.1
    restart: always

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: watchtower plex unifi-controller foldingathome
    restart: always

networks:
  plex_vlan:
    driver: macvlan
    driver_opts:
      parent: br10
    ipam:
      config:
        - subnet: 192.168.10.0/24
          gateway: 192.168.10.254

  lan_vlan:
    driver: macvlan
    driver_opts:
      parent: br0
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.254

  folding_at_home_vlan:
    driver: macvlan
    driver_opts:
      parent: br20
    ipam:
      config:
        - subnet: 192.168.20.0/24
          gateway: 192.168.20.254
  