apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  labels:
    app.kubernetes.io/name: bitwarden
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/component: server
  name: bitwarden
  namespace : seedbox
spec:
  tls:
    - hosts:
      - "*.your-domain-name.com"
      secretName: your-domain-name-com-cert
  rules:
  - host: bitwarden.your-domain-name.com
    http:
      paths:
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: bitwarden
            port:
              number: 80
status:
  loadBalancer: {}
